*{
    border: 0;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto,sans-serif;
}
/* common styles */
.dFlex{
    display: flex;
}
.jCenter{
    justify-content: center;
}
.width20{
    width: 20px;
}
.blackbg{
    background-color: #222539;
}
.whitecolor{
    color: #cccccc;
}
.jcsb{
    justify-content: space-between;
}
.padding010{
    padding: 0px 10px;
}
.padding012{
    padding: 0px 12px;
}
.tdn{
    text-decoration: none;
}
.cursorp{
    cursor: pointer;
}
.smallfont{
    font-size: 14px;
    font-weight: 400;
}
.extrasmallfont{
    font-size: 12px;
    font-weight: 400;
}
.height40{
    height: 40px;
}
.alignc{
    align-items: center;
}
.positionr{
    position: relative;
}
.marginleft60{
    margin-left: 60px;
}
.marginright60{
    margin-right: 60px;
}
.colorffffff{
    color: #ffffff;
}
.buttonPrimary{
    background-color: #f84464;
    color: #ffffff;
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}
.buttonSecondary{
    background: #fff;
    color: #f84464;
    border: 1px solid #f84464;
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}
.borderRadius{
    border-radius: 5px;
}
.lineheight{
    line-height: 20px;
}
.padding15{
    padding: 15px;
}
.seatButton{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #333;
    margin: 15px;
}
.seatButton:hover{
    background-color: #f84464;
    color: #fff;
}
.textcolor{
    color: #dc3558;
}
.width100{
    width: 100%;
}
/* for specific class */
.header{
    border-top: 40px;
    background-color: #333545;
}
.logo{
    width: 165px;
}
.new{
    font-size: 8px;
    color: #e7364d;
    font-weight: 500;
    position: absolute;
    right: 0px;
    bottom: 90%;
}
.whitehover:hover{
    color: #ffffff;
}
.loginmodal{
    width: 500px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.modalheader{
    padding: 25px 35px;
    font-size: 16px;
    color: #000000;
}
#theatreid_error,
#theatrename_error,
#theatreloc_error,
#theatreprice_error,
#theatreshow_error,
#movieid_error{
    color: #e7364d;
    visibility: hidden;
}
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



