*{
    border: 0;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto,sans-serif;
}
/* common styles */
.dFlex{
    display: flex;
}
.jCenter{
    justify-content: center;
}
.width20{
    width: 20px;
}
.blackbg{
    background-color: #222539;
}
.whitecolor{
    color: #cccccc;
}
.jcsb{
    justify-content: space-between;
}
.padding010{
    padding: 0px 10px;
}
.padding012{
    padding: 0px 12px;
}
.tdn{
    text-decoration: none;
}
.cursorp{
    cursor: pointer;
}
.smallfont{
    font-size: 14px;
    font-weight: 400;
}
.extrasmallfont{
    font-size: 12px;
    font-weight: 400;
}
.height40{
    height: 40px;
}
.alignc{
    align-items: center;
}
.positionr{
    position: relative;
}
.marginleft60{
    margin-left: 60px;
}
.marginright60{
    margin-right: 60px;
}
.colorffffff{
    color: #ffffff;
}
.buttonPrimary{
    background-color: #f84464;
    color: #ffffff;
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}
.buttonSecondary{
    background: #fff;
    color: #f84464;
    border: 1px solid #f84464;
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}
.borderRadius{
    border-radius: 5px;
}
.lineheight{
    line-height: 20px;
}
.padding15{
    padding: 15px;
}
.seatButton{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #333;
    margin: 15px;
}
.seatButton:hover{
    background-color: #f84464;
    color: #fff;
}
.textcolor{
    color: #dc3558;
}
.width100{
    width: 100%;
}
.width20{
    width: 20px;
    cursor: pointer;
}
.width10{
    width: 10px;
}
.margin20{
    margin: 20px;
}
.border20{
    border: 20px;
}
.errorhide{
    color: red;
    visibility:hidden;      
}
/* for specific class */
.header{
    background-color: #333545;
}
.logo{
    width: 125px;
    margin: 12px;
}
.new{
    font-size: 8px;
    color: #e7364d;
    font-weight: 500;
    position: absolute;
    right: 0px;
    bottom: 90%;
}
.whitehover:hover{
    color: #ffffff;
    text-decoration: none;
}
.loginmodal{
    width: 500px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.modalheader{
    padding: 25px 35px;
    font-size: 16px;
    color: #000000;
}
#theatreid_error,
#theatrename_error,
#theatreloc_error,
#theatreprice_error,
#theatreshow_error,
#movieid_error{
    color: #e7364d;
    visibility: hidden;
}
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerLeft{
    margin-left: 40px;
}
.signinButton{
    background-color: #f84464;
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #f84464;
}
.location{
    background-color: #333545;
    font-size: 14px;
    font-weight: 400;
    color: #cccccc;
    padding-right: 15px;
    line-height: 19px;
}
.middle{
	display: flex;
	align-items: center;
	border: 1px solid #c9c7c5;
	border-radius: 5px;
    margin-top: 17px;
}
.middle img{
	width: 15px;
	margin: 5px;
}
.middle input{
	font-size: 14px;
    color: #999999;
	width: 525px;
	outline: none;
    height: 32px;
}
.headerRight{
    margin-left: 350px;
}
.margin{
    margin: 20px 20px 20px 0px;
}
.marginTop20{
    margin-top: 20px;
}
.login{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-top: 25px;
}
.loginInput{
    padding: 13px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    color: #595959;
    background: #ffffff;
    border: 1px solid #999999;
}
.width30per{
    width: 20%;
}
.regbutton{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.regbutton:hover{
    text-decoration: none;
    color: #fff;
}


