*{
    border: 0;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto,sans-serif;
}
/* common styles */
.dFlex{
    display: flex;
}
.jCenter{
    justify-content: center;
}
.width20{
    width: 20px;
}
.blackbg{
    background-color: #222539;
}
.whitecolor{
    color: #cccccc;
}
.jcsb{
    justify-content: space-between;
}
.padding010{
    padding: 0px 10px;
}
.padding012{
    padding: 0px 12px;
}
.tdn{
    text-decoration: none;
}
.cursorp{
    cursor: pointer;
}
.smallfont{
    font-size: 14px;
    font-weight: 400;
}
.extrasmallfont{
    font-size: 12px;
    font-weight: 400;
}
.height40{
    height: 40px;
}
.alignc{
    align-items: center;
}
.positionr{
    position: relative;
}
.marginleft60{
    margin-left: 60px;
}
.marginright60{
    margin-right: 60px;
}
.colorffffff{
    color: #ffffff;
}
/* for specific class */
.header{
    border-top: 40px;
    background-color: #333545;
}
.logo{
    width: 165px;
}
.new{
    font-size: 8px;
    color: #e7364d;
    font-weight: 500;
    position: absolute;
    right: 0px;
    bottom: 90%;
}
.whitehover:hover{
    color: #ffffff;
}
.loginmodal{
    width: 500px;
}

